node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.replit
.local/
attached_assets/
.env
commit.md
server/data/*.db
*.db
# deploy.md
/migrations/meta/
server/data/*.docx
server/data/*.pptx
